@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    background-color: #181818;
    color: white;
}

/* SECTIONS */

.section-container {
    margin-bottom: 115px;
    width: 100%;
}

.section-text {
    font-size: medium;
    letter-spacing: 0.5x;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

/* ABOUT ME */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 130px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 30px
}

header {
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    color: white;
    align-self: flex-start;
    margin-bottom: 50px;
}

.content{
    font-size: medium;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* EXPERIENCE */

.gfx-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.image-image-container {
    display: flex;
    gap: 30px;
}

.text-image-container {
    display: flex;
    justify-content: space-between;
}

.experience {
    font-size: medium;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.graphics-design-title {
    font-size: medium;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.preview {
    font-size: small;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-right: 64px;
    margin-top: 5px;
    text-decoration: underline;
    text-decoration-color: #808080;
}

.images {
    height: 235px;
    width: auto;
}

.image-text {
    font-size: small;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* CONTACT */

#contact-text {
    font-size: medium;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.gmail {
    font-size: medium;
    font-family: "Raleway", sans-serif;
    font-weight: 150;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: #808080;
    margin-bottom: 10px;
}

.logos {
    margin-right: 8px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

